@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	float: right;
	position: fixed;
	display: contents;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: white;
	animation-duration: 0.1s;
	background-clip: padding-box;
	border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background-color: white;
}


circle#popcrncirlce {
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-webkit-animation: rotate 1.5s cubic-bezier(.49, .05, .32, 1.04) infinite alternate;
	animation: rotate 1.5s cubic-bezier(.49, .05, .32, 1.04) infinite alternate;
}



@-webkit-keyframes rotate {
	50% {
		-webkit-transform: translate(0px, 100px);
	}
}

@keyframes rotate {
	50% {
		transform: translate(0px, 100px);
	}
}