DATABASE_URL="postgresql://postgres:postgres@localhost:5433/miru_dev"
BETTER_AUTH_SECRET="miru-dev-secret-change-in-production-32chars"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APPLE_CLIENT_ID=""
APPLE_TEAM_ID=""
APPLE_KEY_ID=""
APPLE_PRIVATE_KEY=""
TMDB_API_READ_ACCESS_TOKEN=""
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_POSTHOG_KEY=""
SENTRY_AUTH_TOKEN=""
QSTASH_URL=""
QSTASH_TOKEN=""
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""
RESEND_API_KEY=""
EMAIL_FROM="Miru <noreply@watchmiru.app>"
